body {
	background-color: rgb(250, 244, 232);
}

* {
	box-sizing: border-box;
}
.addButton{
	/* background-color: rgba(124, 124, 124, 0.37); */
	text-align: center; 
	/* -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1); */
	font-size: 15pt; 
	cursor: pointer;
}
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	/* ... */
	width: 20%;
	height: 100%;
	padding-left: 10px;
	background: url(fff-0-2.png) repeat;
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: bold;
}

.item1 {
	grid-area: left;
}

.item2 {
	grid-area: right;
}

.main-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas: "left right";
	grid-gap: 10px;
	/* background-color: #2196F3; */
	padding: 10px;
}

.wrap-collabsible {
	margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
	display: none;
}

.lbl-toggle {
	display: block;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.2rem;
	text-transform: uppercase;
	text-align: center;
	padding: 1rem;
	color: #A77B0E;
	background: #FAE042;
	cursor: pointer;
	border-radius: 7px;
	transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
	color: #7C5A0B;
}

.input-text-name, .input-text-gram, .input-text-percent {
	border: 1px solid rgb(255, 255, 255, 0);
	font-size: 10pt;
	/* text-align: center; */
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
	padding: 4px;
	background: rgba(255, 255, 255, 0.5);
	/* margin-left: 20px;
	margin-right: 20px; */
	font-weight: bold;
}

.input-text-gram {
	width: 15%;
	text-align: right;
}

.input-text-name {
	width: 30%;
	text-align: center;
}

.input-text-percent {
	width: 10%;
	text-align: right;
}
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.lbl-toggle::before {
	content: ' ';
	display: inline-block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;
	vertical-align: middle;
	margin-right: .7rem;
	transform: translateY(-2px);
	transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
	max-height: 100vh;
}

.toggle:checked+.lbl-toggle {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
	background: rgba(250, 224, 66, .2);
	border-bottom: 1px solid rgba(250, 224, 66, .45);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: .5rem 1rem;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	/* border: 1px solid #ddd; */
	margin-top: -1px;
	/* Prevent double borders */
	/* background-color: #f6f6f6; */
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
	position: relative;
}

ul li:hover {
	/* background-color: #eee; */
}

.close {
	cursor: pointer;
	position: absolute;
	top: 45%;
	right: 0%;
	padding: 16px 16px;
	transform: translate(0%, -50%);
}

.close:hover {
	background: rgb(0, 0, 0, 0.1);
}